page-register {
  .scroll-content{
    background-color:#f4f4f6;
  }
  .login-content {
    ion-item {
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid color($colors, light);
      border-bottom: 0px !important;
      box-shadow: none !important;
    }
    .signup-col {
      margin: 0px 16px 0px 16px;
      padding-bottom: 20px;
    }
    .item-inner {
      border-bottom-color: color($colors, light) !important;
      box-shadow: none !important;
    }
  }
  .ion-title {
    margin-left: 50px;
  }
  .notification-normal {
    text-align: center;
  }
  .label{
    margin-left: 10px;
  }
  .signup-fb-button {
    margin-left: 5px;
  }
  .ion-logo-facebook:before {
    font-size:25px;
    margin-bottom: 5px;
  }

  /*.notification-normal {
    text-align: center;
    width: 100%;
    background: #f4f4f6;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  ion-content.login-content, div.scroll-content{
    padding: 0 !important;
  }*/
}